
<script type="text/javascript">
var mar = '<%= @marker.to_json.html_safe %>'
showmap(mar)
</script>

<div id="kattitle">Kategorie</div>
<ul id="katmenu">
<% @kat.each do |kat| %>
<a href="/kategorie/<%= kat.name.downcase %>"> 
	<li> 
		<div id=<%= kat.name.downcase %> class="katinner"> <%= image_tag(kat.bild) %> <div id="katinnertext"> <%= kat.name %></div> </div> 
	</li>
</a>
<% end %>
</ul>
</div>
<style type="text/css">
#shoppen{
	background-color: #e6d581;
}
</style>