<!DOCTYPE html>
<html>
<head>
  <title>Kmwi</title>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "infobox" %>
  <%= csrf_meta_tags %>
      <script type="text/javascript">$(document).ready(function() {
      initialize();
    });</script>
</head>
<body>
<div id="left">
    <div id="lefttop">
      <%= link_to image_tag("/logo.png", :width => "300", :height => "223px"), '/' %>
        <%= link_to "BENUTZER", '/user/' %>
        <%= link_to "KARTEN", '/map/' %>
        <%= link_to 'KONTAKT', '/'%>
    </div>
    <div id="content"><%= yield %></div>
  </div>
<div id="map_canvas"></div><%= yield :mitte %>
<div id="bottom"></div>
<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>
</body>
</html>
